<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <connectionStrings>    
    <add name="Azure" connectionString="Server=tcp:qjeyxeswuq.database.windows.net,1433;Database=JobOffers;User ID=pawlos_dotnetomaniak@qjeyxeswuq;Password=***REMOVED***;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="crawl@octal.pl">
        <network userName="crawl@octal.pl" host="mail.octal.pl" password="iWSSO5ThwpF0QQVKtnGI"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>