<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="mail" xsi:type="Mail" html="true" subject="Exception occured"
    body="Date: ${longdate}
    Message: ${message}
    Machine Name: ${machinename}
    Stack trace: ${stacktrace}
    Exception details: ${exception:format=tostring}"
    to="pawel@octal.pl"
    from="crawl@octal.pl"
    encoding="UTF-8"
    smtpUserName="crawl@octal.pl"
    enableSsl="false"
    smtpPassword="iWSSO5ThwpF0QQVKtnGI"
    smtpServer="mail.octal.pl"
    smtpPort="25"
    />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Error" writeTo="mail" />
  </rules>
</nlog>