<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kigg.Infrastructure.LinqToSql.Properties.Settings.dotnetomaniakConnectionString" connectionString="Data Source=(local);Initial Catalog=dotnetomaniak;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Kigg.Infrastructure.LinqToSql.Properties.Settings.pawlos_dotnetomaniakConnectionString" connectionString="Data Source=OCTAL-KB01\SQLKB01;Initial Catalog=pawlos_dotnetomaniak;User ID=pawlos_dotnetomaniak2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
