<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PowerPivotDotnetomaniak.Properties.Settings.KiggConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=Kigg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>