span.date
{
    background: url(/Assets/Images/icon-date.png) no-repeat 0 1px;
    padding-left: 25px;
    margin-left: 35px;
    color: #858585;
}
p.title
{
    background: url(/Assets/Images/quote.png) no-repeat 0 7px;
    padding-left: 35px;
    padding-top: 15px;
}

p.title a
{
    color: #195695;
    font-size: 11pt;
}
div.blog
{
    background: url("/Assets/images/toplist-border_31.jpg") repeat-x bottom #FFF;
    margin-bottom: 27px;
    padding-bottom: 11px;
}
div.blogPost
{
    margin: 10px 0px 10px 35px;
}
