.markItUp *
{
    margin:0;
    padding:0;
    outline:none;
}

.markItUp a:link, .markItUp a:visited
{
    color:#000;
    text-decoration:none;
}

.markItUp
{
    width:540px;
    margin:5px 0;
    border:5px solid #f5f5f5;
}

.markItUpContainer
{
    border:1px solid #3C769D;
    background:#fff url(Assets/Images/marItUp/bg-container.png) repeat-x top left;
    padding:5px 5px 2px 5px;
    font-size:11px;
}

.markItUpEditor
{
    font:12px 'Courier New', Courier, monospace;
    padding:5px 5px 5px 35px;
    border:3px solid #ececec;
    width:100%;
    height:191px;
    background: url(Assets/Images/marItUp/bg-editor-markdown.png) no-repeat;
    display:block;
    line-height:18px;
    overflow:auto;
}

.markItUpPreviewFrame
{
    overflow:auto;
    background-color:#fff;
    border:1px solid#3C769D;
    width:99.9%;
    height:300px;
    margin:5px 0;
}

.markItUpFooter
{
    width:100%;
    cursor:n-resize;
}

.markItUpResizeHandle
{
    overflow:hidden;
    width:22px;
    height:5px;
    margin-left:auto;
    margin-right:auto;
    background-image:url(Assets/Images/marItUp/handle.png);
    cursor:n-resize;
}

.markItUpHeader ul li
{
    list-style:none;
    float:left;
    position:relative;
}

.markItUpHeader ul li ul
{
    display:none;
}

.markItUpHeader ul li:hover > ul
{
    display:block;
}

.markItUpHeader ul .markItUpDropMenu
{
    background:transparent url(Assets/Images/marItUp/menu.png) no-repeat 115% 50%;
    margin-right:5px;
}

.markItUpHeader ul .markItUpDropMenu li
{
    margin-right:0px;
}

.markItUpHeader ul .markItUpSeparator
{
    margin:0 10px;
    width:1px;
    height:16px;
    overflow:hidden;
    background-color:#ccc;
}

.markItUpHeader ul ul .markItUpSeparator
{
    width:auto;
    height:1px;
    margin:0px;
}

.markItUpHeader ul ul
{
    display:none;
    position:absolute;
    top:18px;
    left:0px;
    background:#F5F5F5;
    border:1px solid #3c769d;
    height:inherit;
}

.markItUpHeader ul ul li
{
    float:none;
    border-bottom:1px solid #3c769d;
}

.markItUpHeader ul ul .markItUpDropMenu
{
    background:#f5f5f5 url(Assets/Images/marItUp/submenu.png) no-repeat 100% 50%;
}

.markItUpHeader ul ul ul
{
    position:absolute;
    top:-1px;
    left:150px;
}

.markItUpHeader ul ul ul li
{
    float:none;
}

.markItUpHeader ul a
{
    display:block;
    width:16px;
    height:16px;
    text-indent:-10000px;
    background-repeat:no-repeat;
    padding:3px;
    margin:0px;
}

.markItUpHeader ul ul a
{
    display:block;
    padding-left:0px;
    text-indent:0;
    width:120px;
    padding:5px 5px 5px 25px;
    background-position:2px 50%;
}

.markItUpHeader ul ul a:hover
{
    color:#fff;
    background-color:#3C769D;
}

.markItUp .markItUpButton1 a
{
    background:transparent url(Assets/Images/marItUp/icons.png) no-repeat scroll 0 -306px;
}

.markItUp .markItUpButton2 a
{
    background:transparent url(Assets/Images/marItUp/icons.png) no-repeat scroll 0 -168px;
}

.markItUp .markItUpButton3 a
{
    background:transparent url(Assets/Images/marItUp/icons.png) no-repeat scroll 0 -30px;
}

.markItUp .markItUpButton4 a
{
    background:transparent url(Assets/Images/marItUp/icons.png) no-repeat scroll 0 -122px;
}

.markItUp .markItUpButton5 a
{
    background:transparent url(Assets/Images/marItUp/icons.png) no-repeat scroll 0 -260px;
}

.markItUp .markItUpButton6 a
{
    background:transparent url(Assets/Images/marItUp/icons.png) no-repeat scroll 0 -214px;
}

.markItUp .markItUpButton7 a
{
    background:transparent url(Assets/Images/marItUp/icons.png) no-repeat scroll 0 -76px;
}