.modalBox
{
    background:#fff none repeat scroll 0;
    position:absolute;
    display:none;
    border:5px solid #364057;
    z-index:1001;
    font-size:12px;
	padding: 5px;
	margin: 5px;
}

.modalBox .titleContainer
{
    height:53px;
    background-color:#BBDEDE;
    color:#364057;
    font-size:18px;
    font-weight:bold;
    padding-left:15px;
}

.modalBox .title
{
    float:left;
    padding-top:5px;
}

.info
{
    display: block;
    font-size: 8pt;
    line-height: 1.5;
}

.modalBox .closeButton
{
    float:right;
    /*
    background:transparent url(Assets/Images/btnClose.png) no-repeat scroll 0% 0%;
    */
    background:transparent url(Assets/Images/close-big.jpg) no-repeat scroll 0 0;
    cursor:pointer;
    width:20px;
    height:20px;
    margin-top:14px;
    margin-right: 14px;
}

.modalBox .contentContainer
{    
    clear: both;
    line-height: 1.4em;
    overflow: auto;
    padding: 30px 15px 15px;
    text-align: left;
    
}
 @media screen and (max-height: 1020px)
        {
                .modalBox .contentContainer
                {
                        max-height: 700px;
                        overflow:auto;
                }
                .modalBox
                {
                        max-height:800px;
                }
        }
#membershipBox
{
    width:566px;
    /*height: 412px;*/
    display:none;
}

#signupSection
{
    min-height: 287px;
}

#__idselector_button
{
    background: transparent url(Assets/images/dodaj-grey.jpg) no-repeat scroll 0 0;
}

#lostPassword
{
    margin-top: 7px;
    display: block;
}

#loginSection
{
    min-height: 436px;
    margin-bottom: 25px;
}

#frmOpenIdLogin input[type="checkbox"], #frmLogin input[type="checkbox"] { margin-right: 10px; }

#frmOpenIdLogin .add-article-row input[type="submit"], #btnLogin {
        background:url(/Assets/Images/zaloguj.jpg) no-repeat;
  }
  
#storyEditorBox .add-article-row
{
    margin-top: 10px !important;
}

#storyEditorBox .add-article-row #btnUpdateStory
{
    background-image: url('/Assets/Images/dalej.jpg');
}

#storyEditorBox .add-article-row:last-child
{
    border-top: 1px dotted #414141;
    margin: 30px 38px 0 20px !important;
    padding-top: 10px;
}

#storyEditorBox .title
{
    margin-top: 10px;
}

#storyEditorBox #txtStoryDescription
{
    width: 436px;
    height: 161px;
}
  
#lnkSignup2
{
    background:url(/Assets/Images/zaloz-konto_15.jpg) no-repeat;
    width: 104px;
    height:20px;
    display:block;
}

#openId, #userNameOrPassword {
    padding-top: 0;
    padding-left: 0;
}

  /************** ALERTS ***************/
  
  .alert{
    background:url(/Assets/Images/alert.jpg) repeat-x top #fff !important;
  }
  .box h5{
    color: #364057;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 23px;
  }
  .konto img{
    float:left;
    color:#364057;
    font-family:Tahoma;
  }
  .konto{
    background:url(/Assets/Images/dots-dark.gif) bottom repeat-x;
    padding-top:15px;
    padding-bottom:15px;
      padding-right: 30px; 
  }
  a.alert-next{
      float: right;
    padding-top: 10px;
    
  }
  #membershipBox input[type="password"], #membershipBox input[type="text"]{
    /*max-width: 329px !important;*/
    height: 28px !important;
    width: 100%;
  }
  #btnSignup{
    background:url(/Assets/Images/zaloz-konto_07.jpg) no-repeat;
    width:127px;
    height:32px;
  }
  #membershipBox input#openid_identifier{
    background: url("/Assets/Images/openid.jpg") no-repeat scroll 6px 9px transparent;
    padding-left: 24px;
    width: 218px !important;
        float: left;
  }
  
  #btnForgotPassword, #btnChangePassword
  {
      background: url("/Assets/Images/dalej.jpg") no-repeat scroll 0px 0px transparent;
  }

  #btnSubmitAd 
  {
      background: url("/Assets/Images/dodaj.png") no-repeat scroll 0px 0px transparent;
  }

  #btnSubmitEvent
  {
      background: url("/Assets/Images/dodaj.png") no-repeat scroll 0px 0px transparent;
  }
  
  #loginSection
  {
      background: url(/Assets/images/dots-dark.gif) bottom repeat-x;
  }