/* style reset */
textarea
{
    resize: vertical;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-family:Arial}

/* global styles */
body {
    font-family: Tahoma, sans-serif;
    font-size: 100.01%;
    font-size:12px;
    background: #e5e5e5 url(/Assets/Images/body-bg.gif) repeat-x;
    color:#231f20;
}

a, a:visited {text-decoration: none; color: #1775b3;}
a:hover {text-decoration: underline;}
.tabs-contents .pageMessage {margin-top: 10px; display: block;}

.clearfix {clear: both;}

#container {
width:960px;
margin:0 auto;}

#top {    float: left;
    height: 164px;
    width: 960px;
      font-family: Arial;
    } 
    h1{
        padding-left:0px;
        padding-top:15px;
        float:left;
         height: 94px;
          width: 338px;
} 
.links, .links a{
    color: #D8D8D8;
   
    padding-left: 4px;
   
}
.links img { vertical-align: middle; margin-top: -6px;}
.links a:hover{text-decoration:underline;}
.links{
  float:right;
  padding-top: 8px;
}
.links a, p.show-more-articles a{
      color: #D8D8D8;
  background:url(/Assets/Images/arrow-login.gif) no-repeat right 6px;
  display:block;
  float:left;
  /*text-decoration:underline;*/
   margin-right: 2px;
    padding-right: 6px;
}
.links span a {float: none;display:inline;}
.links span{
  display:block;
  float:left;
}

.links span:first-child
{
    height: 8px;    
}
.top-right{
  float:right;
  width: 600px;
}
a#blue-button{
    background: url("/Assets/images/button-blue.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding-left: 8px;
    padding-top: 9px;
    width: 131px;
       clear: both;
         margin-top: 26px;
         text-shadow: 0px 1px 1px #205171;
filter: dropshadow(color=#205171, offx=0, offy=1);

}
a#blue-button:hover{
  text-decoration:none;
  color:#212B40;
           text-shadow: 0px 1px 1px #fff;
filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
p.show-more-articles{
  float:right;
  padding-top:10px;
    clear: both;
}
    #menuwrapper{
    clear: both;
    float: left;
    height: 43px;
    padding-top: 12px;
    width: 645px;
    position:relative;
    }
    
    .primary-nav{}
    
    .primary-nav li{float:left;}
    .primary-nav li#categories a, .primary-nav li#about    
    {    
    position: relative;
    z-index: 99;}
    
    .about-container 
    {
        padding-left: 8px;
        padding-right: 15px;
    }
    
    .primary-nav li a{    
        background: url("/Assets/images/menu-right.jpg") no-repeat scroll left center #CDCDCD;
    color: #464646;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-top: 3px;
    padding: 12px 20px 10px;
    /*text-align: center;*/
    text-shadow: 0 1px 1px #F2F2F2;
                 filter: dropshadow(color=#f2f2f2, offx=0, offy=1);
    }
    
    .primary-nav li a:hover, .primary-nav li a.active{
      background:url(/Assets/images/menu-over.jpg) repeat-x;
      margin-top:0px;
      padding-top:15px;
      padding-bottom:12px;
      text-decoration:none;
    }
      .primary-nav li#categories a:hover,  .primary-nav li#categories a.cat-active, 
      .primary-nav li#about a:hover, .primary-nav li#about a.cat-active{
        background:url(/Assets/images/categories_03.jpg) repeat-x;
      margin-top:0px;
      padding-top:15px;
      padding-bottom:12px;
      text-decoration:none;
     }
    .searchBox{    
      float: right;
      padding-top: 22px;
    }
    input#txtSearch{
    background: url("/Assets/Images/search-text-input.png") no-repeat scroll 0 0 #CDCDCD;
    border: 0 none;
    float: left;
    height: 25px;
    width: 146px;
    padding-left: 5px;
    }
    .searchBox input[type="submit"]{
        background: url("/Assets/Images/search-submit-buttom.png") no-repeat scroll 0 0 #CDCDCD;
        border: 0 none;
        float: left;
        height: 25px;
        width: 35px;
        margin-left: -5px;
    }

#content {
    background: url("/Assets/Images/content.gif") no-repeat scroll center bottom #FFFFFF;
    clear: both;
    overflow: hidden;
    padding-bottom: 30px;
    padding-left: 23px;
    height: auto !important;
  } 

  .pageTitle h2{
    font-size:22px;
    font-weight:bold;
    color:#535353;
    padding-bottom:11px;
    float:left;
  }
  .pageHeader{
    border-bottom: 2px solid #D3D3D3;
    height: 31px;
      clear: both;
  }
    #main {float:left;width:600px;overflow:hidden;padding-top:28px;} 
    .feed{float:right; padding-top: 2px;}
        #main p {} 
    #sub {
      float: right;
      padding-right: 19px;
      padding-top: 28px;
      width: 281px;
      position:relative;
    } 
    #sub h2{
    font-size:18px
    }
        #sub p {} 
        .kigg{    float: left;
    padding-right: 10px;
    padding-left:15px;
    width: 62px;}
        .count{
         font-family: Arial;
   background: url("/Assets/Images/count-icon.png") no-repeat scroll 0 0 transparent;
    color: #1775B3;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    padding-right: 6px;
    padding-top: 10px;
    text-align: center;
    width: 56px;
        }
        .do, .none, .undo{
    background: url("/Assets/Images/promuj.png") no-repeat scroll 0 0 transparent;
    font-family: Tahoma;
    font-size: 11px;
    height: 24px;    
    padding-top: 4px;
    width: 55px;
    text-align: center;
        }
        .do a, .undo a{
          color:#535353;
        }
        
    .title h2{
      color:#195695;
      font-weight:normal;
      font-size:18px;
      padding-top:6px
    }
    .title h2 a{color:#195695;    font-family: Arial;}
    .title{
        float: left;
    width: 513px;
      padding-bottom: 10px;
    }
    .story{
      padding:10px 0px;
      background:url(/Assets/Images/toplist-border_31.jpg) repeat-x bottom #fff;
    }
    .entry-content{
    float: right;
    height: 30px;
    overflow: hidden;
    width: 513px;
      /*font-family: Arial;*/
    }
    .entry-content p {line-height:15px; padding-bottom: 20px !important;}
    
    .summary{clear:both;padding-top:10px;float:right;width:513px;color:#858585;}
    .summary a{color:#1775b3;}
    .summary span {
    display: block;
    float: left;        
    padding-left: 16px;
    padding-right: 7px;    
      margin-right: 3px;
      padding-top: 4px;
    }   
    
    .summary span, span.date, a.delete, a.edit, spam.spam
    {        
        padding-top: 2px;
        font-size: 9px;
        height: 23px;
    }
    
    span.date
    {
    }
    
    .summary span.system{
      background:url(/Assets/Images/icon-system.png) no-repeat left 2px;
    }
     .summary span.time{
      background:url(/Assets/Images/icon-time.png) no-repeat left 2px;
    }
     .summary span.author{
      background:url(/Assets/images/icon-author.png) no-repeat left 3px;
    }
    .summary span.spam 
    {
        background: url(/Assets/images/icon-spam.png) no-repeat left 3px;
    }
    .summary span.edit
    {
        background: url(/Assets/images/edit.png) no-repeat left 3px;
    }
    .summary span.miniature 
    {
    background: url(/Assets/images/miniature.png) no-repeat left 3px;
    }
    .summary span.delete
    {
        background: url(/Assets/images/delete.png) no-repeat left 3px;
    }
    .summary span.counter
    {
        background: url(/Assets/Images/icon-counter.png) no-repeat 0 3px;
        padding-left: 22px;
    }
    .summary span.clicks{
      background:url(/Assets/Images/icon-click.png) no-repeat left 0px;
    }
    .summary span.approve{
      background: url(/Assets/images/approve.png) no-repeat left 3px;
    }
    a.rozwin{
    background: url("/Assets/images/ico-rozwin.png") no-repeat scroll right top transparent;
    float: right;
    font-family: Tahoma;
    font-size: 11px;
    height: 19px;
    padding-right: 26px;
    padding-top: 3px;
        margin-right: 15px;
    }
    a.zwin{
     margin-right: 15px;
background: url("/Assets/images/icon-zwin.png") no-repeat scroll right top transparent;
    float: right;
    font-family: Tahoma;
    font-size: 11px;
    height: 19px;
    padding-right: 26px;
    padding-top: 3px;}
    img.thumb{
      border:1px solid #a7a7a7;
      float:right;
      margin-left:15px;
    }

    .more{    color: #231F20;
    float: left;
    font-size: 11px;
    padding-top: 10px;
    width: 377px;}
    .more-row{
      background:url(/Assets/Images/dots-dark.gif) bottom repeat-x;
      padding:7px 0px;
    }
    .more-row span{float:left;}
.msdn {
    background: url("/Assets/Images/icons.png") no-repeat scroll 0 -163px transparent;
}
.nobg{
  background:none !important;
}
.delicious{
    background: url("/Assets/Images/icons.png") no-repeat scroll 0 -62px transparent;
}
.facebook {
    background: url("/Assets/Images/icons.png") no-repeat scroll 0 -358px transparent;
}
.twitter {
    background: url("/Assets/Images/icons.png") no-repeat scroll 0 -36px transparent;
}
.wykop {
    background: url("/Assets/Images/icons.png") no-repeat scroll 0 -426px transparent;
}
.share{float:left;}
.share a {
    display: block;
    height: 16px;
    padding-left: 5px;
    width: 12px;
}
.share li{float:left;}

#footer {
      font-family: Arial;
    background: url("/Assets/Images/footer-bg_17.jpg") repeat-x scroll center 20px transparent;
    clear: both;
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 30px;
} 
     #footer ul {}
.even{ background:url("/Assets/images/toplist-border_31.jpg") repeat-x bottom #f6f6f6;}
.recommend-left-column{
    overflow: hidden;
    padding-bottom: 25px;
    padding-top: 10px;
    text-align: center;    
    width: 280px;
}
.commingEventsList {
    font-size:22px;
    font-weight:bold;
    color:#535353;
    padding-bottom:20px;
    float:left;
}
.commingEventsMonth {
    font-size:22px;
    font-weight:bold;
    color:cadetblue;
    padding:5px;    
    align-content:center;
    text-align:center;
}
.commingEventDay {    
    line-height:37px;
    background-color:#1775B3;
    font-weight:bold;
    font-size:22px;
    min-height:40px;
    min-width:40px;
    float:left;
    padding:5px;    
    color:white;
    text-align:center;
    vertical-align:central;
    margin:5px;
    margin-top:10px;
    margin-left:10px;
}
.commingEventBody {   
    padding-top:2px;  
    font-size:18px;
    font-weight:500;            
    align-content:center;
    text-align:left;            
    padding-left:20px;
    width:600px;
}
.commingEventTitle {
    padding-left:15px;    
    line-height:30px;    
}
.commingEventColumn {
    height: 50px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    width: 280px;
}
.commingEventList {
    height: 40px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    width: 600px;
}
.commingEventPlace {
    padding-left:60px;
    font-size:12px;
    font-weight:normal;
    line-height:16px;
    color:black;
}
.commingEventDetailsList {    
    overflow: hidden;    
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    width: 600px;
    margin:5px;
}
.commingEventsInvitationToInformAbout {
    font-size:12px;    
    font-weight:100;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    text-align:justify;
}
.commingEventLead {
    font-size:12px;
    width:500px;
    font-weight:100;
    padding-left:80px;
    padding-top:12px;
}
.toplist-entry{
    border-left: 3px solid #BADCDD;
    border-right: 3px solid #BADCDD;
    float: left;
    padding-left: 14px;
    padding-right: 18px;
    width: 243px;        
}
.toplist-row{
  padding-top:5px;
  padding-bottom:5px;
  background:url(/Assets/Images/toplist-border_31.jpg) repeat-x bottom;
  clear:both;
      overflow: hidden;
          height: 24px;
}
img.left{float:left;}
.toplist-count{
    background: url("/Assets/Images/toplist-coun.jpg") no-repeat scroll center bottom transparent;
    color: #464646;
    font-family: Arial;
    height: 19px;
    padding-top: 5px;
    text-align: center;
    width: 22px;
    font-size: 10px;
  
}
.toplist-thumb{
  margin-left:13px;
  width:34px;
  font-family: Arial;
}
.toplist-row div{float:left;}
#toplist{    float: left;
    padding-top: 5px;
    font-family:Arial;
    }
  .home-tags{text-align:justify;clear:both;padding-top:8px;}
  a.tag1{color:#195695; font-size:24px; line-height: 2em}
  a.tag2{color:#56708c; font-size:18px; line-height: 2em}
  a.tag3{color:#7c7c7c; font-size:12px; line-height: 2em}
 
  #tags{
    clear:both;
    padding-top:10px;
  }
  .pager a, .pager span.active{
    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px; 
    color:#535353;
    border: 3px solid #DBDBDB;
    /*display: block;
    float: left;*/
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    margin-right: 4px;
    padding: 5px 8px;
  }
  .pager a:hover, .pager span.active{
    border-color:#c2e078;
    text-decoration:none;
  }
  .pager span{
      /*  display: block;
    float: left;*/
    font-weight: bold;
    padding-top: 8px;
    width: 14px;
}
 .pager span.active 
 {
     width: auto;
 } 
  .pager{
    /*padding-left: 175px;*/
    padding: 30px 0px;
    height: 28px;
    width: auto;
    text-align: center;
   
  }
  a.rozwin, a.zwin{
    cursor:pointer;
  }
  .categories, .about{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 2px solid #B1B1B1;
    color: #949494;
    font-size: 11px;
    left: 17px;
    padding-left: 15px;
    padding-top: 7px;
    position: absolute;
    top: 53px;
    width: 908px;
    z-index: 1;
     display:none; 
  }
  div.about
  {
      width: 161px;
      left: 264px;     
  }
  .primary-nav li#categories span{
     background: url("/Assets/images/arrow.png") no-repeat scroll 74px 6px transparent;
    display: block;
    width: 85px;
  }
  .primary-nav li#about span 
  {
    background: url("/Assets/images/arrow.png") no-repeat scroll 127px 6px transparent;
    display: block;
    width: 136px;
  }
  .primary-nav li#about:after
  {
      content: url(/Assets/images/menu-right-last.png);
      margin-top: 6px;
  }
  .about li 
  {
    background: url("/Assets/Images/menu-cat-border.jpg") repeat-x scroll center bottom transparent;
    /*float: left;*/
    margin-right: 28px;
    padding: 8px 6px 14px 0;
    /*width: 193px;*/
  }
  .categories li{
    background: url("/Assets/Images/menu-cat-border.jpg") repeat-x scroll center bottom transparent;
    float: left;
    margin-right: 28px;
    padding: 8px 6px 14px 0;
    width: 193px;
    }
   .categories li p, .about li p{
      clear:both;
      height: 35px;
    }
  .categories a, .about a{
    color:#195695;
    font-size:13px;
    font-weight:bold;
    background:none;
    display:inline;
     padding: 5px 0 !important;
     margin:0;
  }
  .categories a span, .about a span{
    background: url("../images/menu-bg.jpg") no-repeat scroll right center transparent;
    display: block;
    float: left;
    height: 16px;
    padding-right: 7px;
  }
  .categories a:hover, .about a:hover{text-decoration:underline; background:none;}
  li.last{background:none !important;}
  .entry-thumb{float:right;padding-left:15px;}
  .entry-thumb img{ border: 3px solid #a7a7a7;width: 115px;}
  
  /********* Article Wiev Styles ********************/
  
  #article{height:auto !important;}
  .articleHeader a{
   padding-left: 5px;
    padding-right: 5px;
  }
  .articleHeader a#first-crumb{padding-left:0px;}
  .articleHeader{background: url("/Assets/Images/toplist-border_31.jpg") repeat-x scroll center bottom #FFFFFF; padding-bottom:5px; font-size:11px;  padding-top: 10px;}
  .articleHeader span{
    padding-left: 5px;
    }
  .customize-row{clear:both;margin-top:10px;    overflow: hidden;}
   .customize-row div,  .customize-row a, .customize label{
    float:left;
   }
   .customize{
    padding-top:10px;
     overflow: hidden;
     zoom:1;
   }
  .customize-label, .customize label{
    width:114px;
    text-align:right;
    color:#414141;
    font-size:12px;
    font-family:Tahoma;
        padding-top: 8px;
  }
  .color-hash{
    border: 2px solid #E1E1E1;
    color: #414141;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    padding-left: 8px;
    padding-top: 5px;
    width: 69px;
    margin-left:10px;
  }
  a.sample{
    width:28px;
    height:28px;
    border:2px solid #e1e1e1;
    -webkit-border-radius:7px;
-moz-border-radius: 7px;
border-radius: 7px; 
margin-left:9px;
  }
  .customize-left{
    float: left;
    width: 263px;
  }
  .show-code{
    height:134px;
    width:294px;
    border:2px solid #e1e1e1;
    clear:both;
    padding:10px;
     font-family:Tahoma;
     color:#414141;
  }
  .customize-right{
        float: right;
    padding-top: 3px;
  }
  a.zmien, a.resetuj{
    font-family:Tahoma;
    font-size:14px;
    color:#414141;
    font-weight:bold;
    text-align:center;
        -webkit-border-radius:5px;
-moz-border-radius: 5px;
border-radius: 5px;
float:left;
margin-right:10px;
padding:5px 8px;
margin-top:5px;
  }
  
  a.zmien{background:#e8e8e8;}
  a.resetuj{background:#badcdd;}
  
  #main p, .faq div{padding-bottom:5px;}
  #second-tab-content, #third-tab-content,#fourth-tab-content{
    display:none;
  }
  
.tabs-nav{
    /*background:url(/Assets/Images/tabs-bg.jpg) repeat-x;*/
    background-color: #BADCDD;
    height:33px;
    width:100%;
   clear:both;
   margin-top:20px;
   overflow:hidden;
  }
.tabs-list
{
   padding-left:15px;
   border-bottom: 2px solid #195695;
   height: 31px;
}
.tabs-nav li a
{    
    display: block;
    color: #414141;    
    font-family: Tahoma;
    font-size: 12px;
    height: 17px;
    padding: 6px 8px;
    text-align: center;  
    border:1px solid transparent; 
}
.tabs-nav li a:hover, .tabs-nav li a.active
{
    text-decoration:none;
    background:#fff;
    border:1px solid #195695;
    border-bottom:0px;
}
/*#top-nav2 li a{
  border-color:#d3d3d3;
}
#top-nav2 li a:hover, #top-nav2 li a.active{
  border-color:#195695;
}*/
.tabs-nav li
{    
    background: url('/Assets/images/tabs-border-right.png') no-repeat center right; 
    display: block;
    float:left;
    min-width: 70px;    
    margin-top: 3px;
    margin-bottom: 3px;
} 
  .tabs-contents{
    padding:15px 0;
  }
  .tabs-contents ul li { padding-bottom: 7px; padding-top: 5px;}
  .second-tab-content, third-tab-content{
    display:none;
  }
  
  
  /******** ADD ARTICLE STYLES *****************/
  
  #main h3{font-size:24px;padding-bottom:40px;padding-top:15px;font-weight:normal;color:#414141;}
  
  .add-article-row{clear:both;margin-top:20px; overflow: hidden; zoom:1;}
  .add-article-row label{
      padding-top: 10px;
  width:110px;
  float:left;
  text-align:right;
  margin-right:15px;
  }
  .add-article-row input[type="text"],   .add-article-row input[type="password"]{
  width:431px;
  height:29px;
  border:2px solid #e1e1e1;
  font-size:14px;
  padding-left:5px;
  }
  .wysiwyg-code{
    background: url("/Assets/Images/toplist-border_31.jpg") repeat-x scroll center bottom #FAFAFA;
    float: right;
    line-height: 16px;
    margin-right: 39px;
    margin-top: 10px;
    padding: 20px;
    width: 400px;
  }
  .wysiwyg-code{
  
    background: url("/Assets/Images/toplist-border_31.jpg") repeat-x scroll center top #FAFAFA;
    float: right;
    line-height: 16px;
    margin-right: 39px;
    margin-top: 10px;
    padding: 20px;
    width: 400px;
  }
  a.hide-sample{
    clear: both;
    display: block;
    float: right;
  }
      a.show-sample{
    background: url("/Assets/images/ico-rozwin.png") no-repeat scroll right top transparent;
    float: left;
    font-family: Tahoma;
    font-size: 11px;
    height: 19px;
    margin-bottom: 10px;
    margin-left: 122px;
    margin-top: 10px;
    padding-right: 26px;
    padding-top: 3px;
    }
     a.hide-sample{

background: url("/Assets/images/icon-zwin.png") no-repeat scroll right top transparent;
    float: left;
    font-family: Tahoma;
    font-size: 11px;
    height: 19px;
    margin-bottom: 10px;
    margin-left: 122px;
    margin-top: 10px;
    padding-right: 26px;
    padding-top: 3px;
}
.radios{
   float: right;
    margin-right: 39px;
    padding-left: 20px;
    padding-top: 20px;
    width: 418px;
}
.radio-wrapper{
    float: left;
    height: 23px;
    width: 199px;
}
label.radio-label
{
    padding-top: 0px;
    padding-left: 10px;
    text-align: left;
    width: auto;
    
}
.add-article-row input[type="radio"]{
  float:left;
}
.radios-wrapper label{
padding-top:0px !important;

}
.radios{

background:url(/Assets/Images/radios-bg_07.jpg) no-repeat left top;
}
.add-article-row input[type="submit"]{
  float:left;
  border:0 none;
  background:url(/Assets/Images/dodaj-artykul.jpg) no-repeat;
  width:116px;
  height:43px;
     margin-left: 121px;
       text-indent: -9999px;
  cursor: pointer;
}
.add-article-row textarea{  border:2px solid #e1e1e1;}

table a,
table a:link,
table a:visited {
	border:none;
	}							
	
img {
	border:0;
	}
	
table {
	width:100%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
    border-collapse:collapse;
	}		
td {
	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;
	}				
th {
    background-color: #badcdd;
	font-weight:normal;
	color: #678197;
	text-align:center;
	border-bottom: 1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	}	
tr.Overdued {
    background-color: #FFE4E1;
}	
tr.OverdueTommorow {
    background-color: #FFF0F5;
}
tr.OverdueDuringFiveDays {
    background-color: #FFFAF0;
}
tr.Default {
    background-color: #c2e078;
}
table#adsTable td a {
    display: block;
}


.input-color .color-box {
    width: 147px;
    height: 30px;
    display: inline-block;
    color: #364057;
}					

/********* FAQ styles **********/
.faq h4{
  font-weight:bold;
  color:#195695;
  font-size:16px;
  padding-bottom:8px;
}
.faq {
  padding-bottom:25px;
  padding-left:30px;
  background: url("/Assets/images/icon-zwin.png") no-repeat scroll left top transparent;  
}
.faq.rozwin
{
    background: url("/Assets/images/ico-rozwin.png") no-repeat scroll left top transparent;  
}
.faq p,div.ans{font-family:Tahoma;font-size:12px; line-height:16px;}

/******* Kontakt Styles *******/
#btnContactSubmit, #btnCommentSubmit {
     background:url(/Assets/Images/wyslij.jpg) no-repeat;
  width:111px;
  height:43px;
}

#btnCommentSubmit
{
    margin-left: 0px;
}

/***** User profile CSS ******/
#main h3 span{color:#c8c8c8;}
.avatar-big{
  width:144px;
  height:128px;
  float:left;
}
.avatar-content{ 
    border-top: 2px solid #D3D3D3;
    float: left;
    width: 456px;
    padding-bottom:28px;
  }
  .avatar-content-row{
    background: url("/Assets/Images/toplist-border_31.jpg") repeat-x scroll center top transparent;
    clear: both;
    height: 34px;
    line-height: 34px;
    font-family:tahoma;
  }
  .avatar-content-row div{
    float:left;
  }
  .avatar-content-label{width:132px;}
  .avatar-content-content{font-weight:bold;}
  /*#top-nav2{
    background:url(/Assets/Images/top-nav2.jpg) repeat-x !important;
  }*/
  
  .second-tab-content, third-tab-content{display:none}
  #no-padding, .no-padding{
    padding:0;
  }
  .promo-header{
    font-family:Arial;
    font-size:14px;
    color:#414141;
    font-weight:bold;
  }
  
/******* Materiały promocyjne styles ************/  
  .promo{
    padding-top:20px;
    overflow:hidden;
    }
  .promo-sample{
    width:297px;
    float:left;
    }
  .promo-download{
    background: none repeat scroll 0 0 #F7F7F7;
    float: left;
    height: 43px;
    padding-top: 11px;
    width: 303px;
  }
  .promo-download ul{
    float:left;
  } 
  .promo-download ul li{
    float:left;
    padding-left:5px;
  }
  .promo-download ul li a{
    float:left;
    display:block;
    background:#3687bd;
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    height:31px;
    width:31px;
    font-size:10px;
    font-family:Arial;
     line-height: 30px;
         -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
  }
    .promo-download ul li a:hover{
      text-decoration:none;
      background:#212b40;
    }
  .promo-download p{  
    float: left;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 7px;
    
  } 
  
 /**/
  h6{
    font-size:16px;
    font-weight:bold;
    font-family:Arial;
    color:#364057;
    padding-top:10px;
    padding-bottom:10px;
  }
  a.grey-button{
      float: right;
    padding-right: 47px;
  }
  .add-row2{
    clear:both;
     margin-top: 5px;
    padding-left: 123px;
  }
  
  .konto .add-article-row {
    clear: both;
    margin-top: 15px;
}

  a.zaloz-konto{
  padding-top:10px;
  display:block;
  }
  .alert{
    display:none;
  }
  
  .hide
  {
      display: none;
  }
  
ol li span:last-child
{
      float: right;
}

ol li ol li
{
    padding: 5px 0;
}

.articleHeader a {    background: url("/Assets/Images/crumb.jpg") no-repeat scroll right 3px transparent;
    padding-right: 10px;
}

div.tabs-contents { margin-bottom: 10px}
#imageCode {display: none}
#txtImageCode { border: 0 none; overflow: hidden; resize: none; font-size: 12px }

#devmedia-sidebar 
{
    top: 30% !important;
}

#recaptcha_area { float: left;}
#recaptcha_area input[type="text"] { height: 20px}
.dimBackground
{
    background-color:#364057;
    z-index:999;
    display:none;
}

#recaptcha_area .error
{
    margin-left: 0px;
}

.error
{
    background: #F29292 url("/Assets/Images/error.png") no-repeat scroll 10px 8px;
    display: none;    
    margin-left: 125px;
    color: #CE0000;
    font-weight: bold;    
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

#userList tr
{
    height: 40px;    
}

#userList img
{
    vertical-align: middle;
}

#commentList ul
{
    list-style:none none outside;
    margin:0px;
    padding:0px;
}

#commentList ul li
{
    margin:0px 0px 20px;
    /*width:540px;*/
    overflow:hidden;
    background: url("/Assets/Images/toplist-border_31.jpg") repeat-x scroll center bottom white;
}

#commentList .meta
{
    padding:0px 0px 33px;
    position:relative;
    margin:0px;
}

#commentList .metaVisitor
{
    background:transparent url(Assets/Images/comments.png) no-repeat scroll 0 100%;
    display: inline;
    float: left;
}

#commentList .visitorBody
{
    background:#ececec url(Assets/Images/comments.png) no-repeat scroll -1100px 100%;
}

#commentList .metaOwner
{
    background:transparent url(Assets/Images/comments.png) no-repeat scroll -551px 100%;
    display: inline;
    float: left;
}

#commentList .ownerBody
{
    background:#E7F3C9 url(Assets/Images/comments.png) no-repeat scroll -1653px 100%;
}

#commentList .meta .no
{
    display:inline-block;
    padding:0px 4px 0px 0px;    
}

#commentList .meta .postedBy
{
    font-weight:bold;
}

#commentList .meta .postedBy img
{
    padding-right:4px;
    vertical-align: top;
}

#commentList .body
{
    padding: 10px 11px 5px;
    width: 484px;
    margin-left: 15px;
    float: left;
}

#commentList .body div
{
    margin:0px 0px 3px;
}

#commentList .body span
{
    font-size: 9px;
}

#commentList .body p
{
    margin: 11px 0 0;
    padding:0px;
}

#commentList .summary
{
    padding-top: 10px;
    font-size:.85em;
    text-align:right;
}

#commentList .summary .spam
{
    /*
    background:transparent url(Assets/Images/spam.png) no-repeat scroll 0% 0%;
    */
    background:transparent url(Assets/Images/modarate.png) no-repeat scroll 0 -62px;
    padding-left:18px;
}

#commentList .summary .flagOffended
{
    /*
    background:transparent url(Assets/Images/markasspam.png) no-repeat scroll 0% 0%;
    */
    background:transparent url(Assets/Images/icons.png) no-repeat scroll 0 -213px;
    padding-left:18px;
}

#frmCommentSubmit .markItUp
{
    margin-left: 19px;
    width: 496px;
}

#frmCommentSubmit h4
{
margin-bottom: 13px;
font-size: 15px;
}

#frmCommentSubmit .markItUpEditor
{
    width: 440px;
    height: 193px;
}

#frmCommentSubmit > div, #frmCommentSubmit #recaptcha_widget_div
{
    margin-left: 92px;
}

#frmCommentSubmit #btnCommentSubmit
{
    background: url(/Assets/Images/dodaj.png) no-repeat;
    width: 82px;
    height: 32px;
    margin-top: 20px;
}

#frmCommentSubmit img
{
    margin-top: 6px;
    margin-left: 24px;
    float: left;
}

#frmCommentSubmit > p
{
    float: left;
}

#frmCommentSubmit h3
{
    padding-bottom: 6px;
    padding-top: 0px;
    font-size: 19px;
}

.commentMessage
{
    margin:8px 0px;
}

.commentMessage h2
{
    margin:0px;
    padding:0px;
}

#commentDisc{margin: 10px 0; padding: 10px 5px; background-color: #F7F7F7; border-bottom: 2px solid #CDCDCD;}

#chkSubscribe { margin-right: 10px}
#lnkCommentPreview  
{
    background: url("/Assets/images/icon-zwin.png") no-repeat scroll right top transparent;
    padding-right: 26px;
    padding-top: 3px;
    font-size: 11px;
    height: 19px;
    padding-bottom: 5px;
}

#lnkCommentPreview.rollUp
{
    background: url("/Assets/images/ico-rozwin.png") no-repeat scroll right top transparent;
}

.progressSmall
{
    background:transparent url(Assets/Images/ajaxSmall.gif) no-repeat scroll 0%;
    margin:5px 25px;
    padding:5px 25px;
    font-size:1.1em;
}

#aboutUs
{
    line-height: 1.2;
}

#aboutUs li
{
    height: 15px;
}

#aboutUs p
{
    margin: 8px 0;
}
#btnStorySubmit
{
    width: 175px;
}

.badge 
{
    height: 25px;
    padding-top: 10px;
}

.badges
{
    padding-top: 10px;
}

#info
{
    display: none;
    z-index: 20;
    height: 30px;
    background-color: #CDCDCD;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    color: #444;
}

#storyMessage 
{
    margin-left: 119px;
    font-weight: bold;
}

.ui-datepicker {
    width:17em;
    padding:.2em .2em 0;
    display:none
}

.ui-datepicker .ui-datepicker-header {
    position:relative;
    padding:.2em 0
}

.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {
    position:absolute;
    top:2px;
    width:1.8em;
    height:1.8em
}

.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {
    top:1px
}

.ui-datepicker .ui-datepicker-prev {
    left:2px
}

.ui-datepicker .ui-datepicker-next {
    right:2px
}

.ui-datepicker .ui-datepicker-prev-hover {
    left:1px
}

.ui-datepicker .ui-datepicker-next-hover {
    right:1px
}

.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {
    display:block;
    position:absolute;
    left:50%;
    margin-left:-8px;
    top:50%;
    margin-top:-8px
}

.ui-datepicker .ui-datepicker-title {
    margin:0 2.3em;
    line-height:1.8em;
    text-align:center
}

.ui-datepicker .ui-datepicker-title select {
    font-size:1em;
    margin:1px 0
}

.ui-datepicker select.ui-datepicker-month-year {
    width:100%
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
    width:49%
}

.ui-datepicker table {
    width:100%;
    font-size:.9em;
    border-collapse:collapse;
    margin:0 0 .4em
}

.ui-datepicker th {
    padding:.7em .3em;
    text-align:center;
    font-weight:700;
    border:0
}

.ui-datepicker td {
    border:0;
    padding:1px
}

.ui-datepicker td span,.ui-datepicker td a {
    display:block;
    padding:.2em;
    text-align:right;
    text-decoration:none
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image:none;
    margin:.7em 0 0;
    padding:0 .2em;
    border-left:0;
    border-right:0;
    border-bottom:0
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float:right;
    margin:.5em .2em .4em;
    cursor:pointer;
    padding:.2em .6em .3em;
    width:auto;
    overflow:visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float:left
}

.ui-datepicker.ui-datepicker-multi {
    width:auto
}

.ui-datepicker-multi .ui-datepicker-group {
    float:left
}

.ui-datepicker-multi .ui-datepicker-group table {
    width:95%;
    margin:0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width:50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width:33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width:25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width:0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear:left
}

.ui-datepicker-row-break {
    clear:both;
    width:100%;
    font-size:0
}

.ui-datepicker-rtl {
    direction:rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right:2px;
    left:auto
}

.ui-datepicker-rtl .ui-datepicker-next {
    left:2px;
    right:auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right:1px;
    left:auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left:1px;
    right:auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear:right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float:left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group {
    float:right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width:0;
    border-left-width:1px
}

.ui-widget-content {
    color:#333
}

.ui-widget-header {
    border:1px solid #e78f08;
    background:#f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
    color:#fff;
    font-weight:bold
}

.ui-widget-header a {
    color:#fff
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    background-color: #f6f6f6
}  
  
.ui-state-default, .ui-state-default {
    border:1px solid #ccc;
    background:#f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    font-weight:bold;
    color:#1c94c4
}
.ui-helper-hidden-accessible{
    display: none;
}

.googleHeader{
    position: absolute;
    bottom: 150px;
    width: 281px;
}

#___plus_0{
    position: absolute;
    bottom:10px;
}

.fb_iframe_widget_fluid {
	display: inline-block !important;
	height: 271px !important;
}