<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.0.2" targetFramework="net40" />
  <package id="MiniProfiler.MVC3" version="2.0.2" targetFramework="net40" />
  <package id="WebActivator" version="1.4.4" targetFramework="net40" />
</packages>