<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.17-build00153" targetFramework="net40" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.1.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net4" requireReinstallation="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.0.2" targetFramework="net40" />
  <package id="MiniProfiler.MVC3" version="2.0.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="WebActivator" version="1.4.4" targetFramework="net40" />
</packages>