<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <clear/>
    <!--SQL Server Connection String-->
    <!--<add name="KiGG" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=KiGG;Integrated Security=True;MultipleActiveResultSets=False" 
         providerName="System.Data.SqlClient"/>-->

    <add name="KiGG"
         connectionString="Data Source=.;Initial Catalog=KiGG;Integrated Security=True;MultipleActiveResultSets=False"
         providerName="System.Data.SqlClient"/>
    
    <!--MySQL Connection String targetting Devart specific Database Schema-->
    <!--<add name="KiGGMySql"
         connectionString="server=localhost;user id=root;password=Pa$$w0rd;persist security info=True;database=kigg" 
         providerName="Devart.Data.MySql"/>-->

    <!--MySQL Connection String targetting Connector\net Database Schema-->
    <add name="KiGGMySql"
         connectionString="server=localhost;user id=root;password=Pa$$w0rd;persist security info=True;database=kigg"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>


  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.0.3.0, Culture=neutral, PublicKeyToken=92c3c527cdfe7566" />
    </DbProviderFactories>
  </system.data>
  
</configuration>