@using Kigg.Web
@model Kigg.Web.ViewData.RecommendationsViewData

@if (Model.Recommendations.Any())
{
    var ad = Model.Recommendations.FirstOrDefault();

    <a href="@ad.UrlLink" style="display: block; width: 960px; margin-left: -22px" title="@ad.UrlTitle" target="_blank" rel="noopener">
        <img src="@Url.Image(ad.ImageName)" alt="@ad.ImageAlt" />
    </a>
}