<div id="intro">
    <h3>Witaj!</h3>
    <div>
        <p>
            <strong>dotnetomaniak.pl</strong> to miejsce gdzie możesz znaleźć najnowsze artykuły
            o <strong>technologii .NET</strong> znajdujących się na stronach polskiej społeczności.
            Dziel się wiedzą i korzystaj z artykułów innych, aby poszerzać swoją wiedzę i budować
            jeszcze lepszą społeczność <strong>.NET</strong> w Polsce.
        </p>
        <p>
            <strong>dotnetomaniak.pl</strong> to portal dla fanów <strong>.NET</strong>
        </p>
        <p style="float: left">
            @Html.ActionLink("promuj »", "PromoteSite", "Support")&nbsp;
        </p>
        <p style="text-align: right">
            @Html.ActionLink("faq »", "Faq", "Support")
        </p>
    </div>
</div>
