<?xml version="1.0" encoding="utf-8"?>
<cachingConfiguration defaultCacheManager="DefaultCacheManager">
  <cacheManagers>
    <add
        name="DefaultCacheManager"
        expirationPollFrequencyInSeconds="900"
        maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10"
        backingStoreName="InMemory"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
            />
  </cacheManagers>
  <backingStores>
    <add
        name="InMemory"
        encryptionProviderName=""
        type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
            />
  </backingStores>
</cachingConfiguration>