<?xml version="1.0" encoding="utf-8"?>
<exceptionHandling>
  <exceptionPolicies>
    <add name="Unhandled Exceptions">
      <exceptionTypes>
        <add name="FullException" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
          <exceptionHandlers>
            <add
                name="DefaultExceptionHandler"
                logCategory="FullException"
                eventId="0"
                priority="1"
                severity="Critical"
                useDefaultLogger="true"
                title="KiGG Exception"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
                            />
            <add
                name="WeblogExceptionHandler"
                logCategory="FullException"
                type="Kigg.Infrastructure.EnterpriseLibrary.WeblogLoggingExceptionHandler, Kigg.Infrastructure.EnterpriseLibrary"
                            />
          </exceptionHandlers>
        </add>
      </exceptionTypes>
    </add>
  </exceptionPolicies>
</exceptionHandling>