<?xml version="1.0" encoding="utf-8"?>
<loggingConfiguration name="KiGG Logging" tracingEnabled="true" defaultCategory="All">
  <listeners>
    <add
        name="EmailExceptionListener"
        toAddress="mmosa@mosesofegypt.net"
        fromAddress="admin@localkigg.com"
        formatter="TextFormatter"
        listenerDataType="Kigg.Infrastructure.EnterpriseLibrary.WeblogEmailTraceListenerData, Kigg.Infrastructure.EnterpriseLibrary"
        type="Kigg.Infrastructure.EnterpriseLibrary.WeblogEmailTraceListener, Kigg.Infrastructure.EnterpriseLibrary"
            />
    <add
        name="TextFileExceptionListener"
        fileName="Logs\exception.txt"
        header="----------------------------------------"
        footer="----------------------------------------"
        rollInterval="Hour"
        rollFileExistsBehavior="Increment"
        timeStampPattern="yyyy-MM-dd-hh"
        formatter="TextFormatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
            />
    <add
        name="CsvFileListener"
        fileName="Logs\trace.csv"
        rollInterval="Hour"
        rollFileExistsBehavior="Increment"
        timeStampPattern="yyyy-MM-dd-hh"
        formatter="CsvFormatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
            />
  </listeners>
  <formatters>
    <add
        name="TextFormatter"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}"
            />
    <add
        name="CsvFormatter"
        type="Kigg.Infrastructure.EnterpriseLibrary.WeblogTraceTextFormatter, Kigg.Infrastructure.EnterpriseLibrary"
        template="&quot;{machine}&quot;,&quot;{timestamp}&quot;,&quot;{severity}&quot;,&quot;{namaspace}&quot;,&quot;{className}&quot;,&quot;{methodSignature}&quot;,&quot;{message}&quot;,&quot;{user}&quot;,&quot;{ipAddress}&quot;,&quot;{userAgent}&quot;,&quot;{url}&quot;,&quot;{referrer}&quot;"
            />
  </formatters>
  <categorySources>
    <add switchValue="All" name="All">
      <listeners>
        <add name="CsvFileListener"/>
      </listeners>
    </add>
    <add switchValue="All" name="FullException">
      <listeners>
        <add name="EmailExceptionListener"/>
        <add name="TextFileExceptionListener"/>
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events"/>
    <notProcessed switchValue="All" name="Unprocessed Category"/>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="TextFileExceptionListener"/>
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>